@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <div>
        <p>
            <label>Name</label>
            <input type="text" name="name" />
        </p>
        <p>
            <label>Email</label>
            <input type="email" name="email" />
        </p>
        <p>
            <label>Subject</label>
            <input type="text" name="subject" />
        </p>
        <p>
            <label>Date</label><br />
            <input type="date" name="date" />
        </p>
        <p>
            <input type="submit" value="Send" />
        </p>
    </div>
</form>